# Supabase Configuration
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

# Email Configuration (for Edge Function)
RESEND_API_KEY=your_resend_api_key
RESTAURANT_EMAIL=your_restaurant_email@example.com

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBfzxQdLX_qZLzoMntgv4N2HYhyp3BiDkg
VITE_FIREBASE_AUTH_DOMAIN=foods-taxi.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=foods-taxi
VITE_FIREBASE_STORAGE_BUCKET=foods-taxi.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1016481908033
VITE_FIREBASE_APP_ID=1:1016481908033:web:2c25c1491125ec6d964dc0